@charset 'UTF-8';

/*Importação das fonts padrões*/
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Reset das configurações Globais */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    font-family: 'Inter';
    font-size: 18px;
    background-color: #141414;
    color: #ffffff;
}

.container{
    width: 100%;
    margin: auto;
    max-width: 1220px;
    padding: 30px 20px;
}

/* HEADER */
header .container{
    display: flex;
    align-items: center;
    padding-top: 45px;
    gap: 50px;
}

header nav{
    display: flex;
    flex: 1;
    align-items: center;
}

header nav .leftside{
    display: flex;
    flex: 1;
}

header nav li{
    margin: 0px 30px;
}

header nav li a{
    text-decoration: none;
    color: #ffffff;
}

header nav li a:hover{
    color: #999;
}

header nav .button{
    display: block;
    border: 1px solid #fff;
    padding: 15px 30px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

header nav .button:hover{
    color: #999;
    border-color: #999;
}

header .menu{
    display: none;
    flex: 1;
    justify-content: flex-end;
    width: 32px;
    height: 32px;
}

header .menu:hover{
    color: #999;
}

/* HERO */
.hero .container{
    display: flex;
}

.hero leftside, .hero .rightside{
    flex: 1;
}

.hero .leftside{
    padding-bottom: 150px;
}

.hero .rightside{
    text-align: center;
}

.hero .rightside img{
    width: auto;
    height: 600px;
}

.hero h1{
    font-family: 'Calistoga';
    font-weight: normal;
    font-size: 72px;
    line-height: 74px;
}

.hero p{
    font-size: 20px;
    line-height: 26px;
    margin: 30px 0px;
}

.hero .button{
    display: inline-block;
    background-color: #FE6A0F;
    font-weight: 500;
    color: #fff;
    padding: 10px 50px;
    border-radius: 5px;
    text-decoration: none;
}

.hero .button:hover{
    opacity: 0.9;
}

/* TELAS ATE 820PX*/
@media(max-width: 820px){
    
    /* HEADER */
    header nav{
        display: none;
    }
    header .menu{
        display: flex;
    }

    /* HERO */
    .hero .container{
        flex-direction: column;
    }

    .hero .leftside{
        text-align: center;
        padding-bottom: 40px;
    }

    .hero .rightside{
        padding-bottom: 40px;
    }

    .hero .rightside img{
        height: 300px;
    }

    .hero h1{
        font-size: 43px;
        line-height: 50px;
    }
}